<ion-header>
  <ion-navbar>
  
    <ion-buttons start>
      <button ion-button icon-left (click)="toggleCheckIns()" color="secondary" *ngIf="checkInsVisible == false">
        <ion-icon name="md-pin"></ion-icon>
        Check Ins
      </button>
      <button ion-button icon-left (click)="toggleCheckIns()" color="danger" *ngIf="checkInsVisible == true">
        <ion-icon name="md-pin"></ion-icon>
        Check Ins
      </button>
    </ion-buttons>

    <ion-title start>Map</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="showOnMap()">
        <ion-icon name="md-share"></ion-icon>
        Share
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <div #map id="map"></div>
</ion-content>
